@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Sohne";
  src: url("../assets/fonts/Sohne-300.otf");
  font-weight: 300;
}

@font-face {
  font-family: "Sohne";
  src: url("../assets/fonts/Sohne-400.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Sohne";
  src: url("../assets/fonts/Sohne-600.otf");
  font-weight: 600;
}

@font-face {
  font-family: "Sohne";
  src: url("../assets/fonts/Sohne-700.otf");
  font-weight: 700;
}

* {
  font-family: "Sohne";
}

.orange-filter {
  filter: invert(40%) sepia() saturate(6000%) hue-rotate(10deg);
}
